= form_for @client, validate: true do |f|
  - if  @client.errors.any?
    %div{:style => 'color: red'}
      %h2
        = t('application.can_not_be_saved', model: t('activerecord.modules.clients.one'))
        - if @client.errors.count == 1 
          = "#{@client.errors.count} #{t('application.error')}"
        - else 
          = "#{@client.errors.count} #{t('application.errors')}"
      %ul
        -  @client.errors.each do |error|
          %li= error.full_message
  .form-group.ml-4.mr-4
    = f.label :firstname, class: "form-label required", style: "color: white"
    = f.text_field :firstname, autofocus: true, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :lastname, class: "form-label required", style: "color: white"
    = f.text_field :lastname, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :email, class: "form-label required", style: "color: white"
    = f.text_field :email, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :direction, class: "form-label required", style: "color: white"
    = f.text_field :direction, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :password, class: "form-label required", style: "color: white"
    = f.text_field :password, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :password_confirmation, class: "form-label required", style: "color: white"
    = f.text_field :password_confirmation, class: "form-control"
  .form-group.ml-4.mr-4
    = f.label :enabled, class: "form-label required", style: "color: white"
    = f.check_box :enabled, class: "form-control"

  .row 
    .offset-3.col-3 
      = link_to t('application.back'), clients_path, class: "btn btn-secondary btn-block"
    .col-3  
      = button_tag t('application.save'), class: "btn btn-success btn-block", 'data-disable-with': t('application.saving')
